@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

:root {
  --verde-claro: #a1da95;
  --verde-oscuro: #21cda7;
  --azul-oscuro: #436a6b;
  --azul-claro: #4792ff;
  --plomo-oscuro: #757575;
  --celeste-oscuro: #198893;
  --plomo-claro: #c1c1c1;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow: hidden;
}

body {
  background-image: linear-gradient(#eee, #ccc, #aaa);
}

.card {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 120px 120px 120px;
}

.card>div {
  text-align: center;
  padding: 5px 20px;
  color: var(--azul-oscuro);
  background-color: white;
}

.col-3 {
  grid-column: 1/4;
}

.pk-circle {
  width: 300px;
  height: 300px;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid rgba(255, 255, 255, .3);
  border-radius: 100%;
  background-color: transparent !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin: 0 auto;
  z-index: -1;
}

.pk-cp {
  margin-top: 15px;
  background-color: transparent !important;
}

.body-card {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 -2px 10px 0px rgba(0, 0, 0, 0.2);
}

.pk-bot {
  padding: 25px 0px !important;
  margin-bottom: 20px !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.pk-img {
  min-height: 150px;
  position: relative;
  background-color: transparent !important;
}

.pk-img>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto 0;
  cursor: grab;
}

.health-line {
  width: 70%;
  height: 5px;
  margin: 5px auto;
  background-image: linear-gradient(to right, var(--verde-claro), var(--verde-oscuro));
  border-radius: 3px;
}

.sel {
  color: var(--plomo-oscuro) !important;
  transition: .2s;
  padding: 10px 0 !important;
}

.sel>i, .sel>h6 {
  cursor: pointer !important;
}

.sel2 {
  color: var(--azul-claro) !important;
  transition: .2s;
  padding: 10px 0 !important;
}

.sel2>i, .sel2>h6 {
  cursor: pointer !important;
}

.sel:hover {
  color: #b6b6b6 !important;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btm-line {
  padding: 10px 0 !important;
}

.btn {
  background-image: linear-gradient(to right, var(--verde-claro), var(--verde-oscuro));
  color: white;
  border-radius: 25px;
  padding: 12px 15px;
  border-style: none;
  font-size: .8em;
  font-weight: bold;
  cursor: pointer;
  transition: .1s;
  display: inline-block;
}

.btn:hover {
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stardust {
  display: inline-block;
  width: 5px;
  height: 20px;
  margin: 0 10px 0 30px;
  vertical-align: middle;
  background: linear-gradient(to bottom, rgba(151, 189, 204, 1) 0%, rgba(151, 189, 204, 1) 9%, rgba(194, 240, 237, 1) 10%, rgba(194, 240, 237, 1) 50%, rgba(217, 171, 255, 1) 51%, rgba(136, 95, 194, 1) 97%, rgba(151, 189, 204, 1) 98%, rgba(151, 189, 204, 1) 100%);
}

.btn-2 {
  background-color: var(--celeste-oscuro);
  color: white;
  border-radius: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid white;
  box-shadow: 0px 0px 0px 4px var(--celeste-oscuro);
  font-size: .8em;
  cursor: pointer;
  transition: .1s;
  animation: move 1s infinite;
}

.btn-2:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: none;
}

@keyframes move {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(.9);
  }

  100% {
    transform: scale(.8);
  }
}

.inp {
  cursor: auto !important;
}

.inp:hover {
  text-shadow: 0px 0px 5px !important;
}